.window {
    min-width: 300px;
    min-height: 200px;
    background-color: var(--light-gray);
    padding: 1px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  
    .window-header {
      width: calc(100% - 5px);
      height: 24px;
      background-color: var(--blue);
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2px;
      color: var(--white);
      user-select: none;

      &>button {
        padding: 0;
        width: 24px;
      }
    }
  }

  .pdf {
    &>.scrollable {
      margin: 8px;
      padding: 16px 64px;
      background: var(--medium-gray);
      width: auto;
      flex-direction: column;

      &>img {
        background-color: white;
        margin-bottom: 64px;
      }
    }

  }