.contact {
    display: grid;
    grid-template-columns: auto auto auto auto;

    padding: 16px;

    .file-icon {
        img {
            height: 20vh;
        }
        p {
            font-size: 32px;
            margin-top: 0;
        }
    }
}