.contact {
    display: grid;
    grid-template-columns: auto auto auto;

    padding: 16px;

    &>h2 {
        text-align: end;
        margin-right: 4px;
        margin-bottom: 8px;
    }

    &>a {
        text-align: start;
        margin-left: 4px;
        font-size: 24px;
    }
}