.Clock {
  width: 80px;
  text-align: center;
  height: 100%;

  border-left: 2px solid var(--medium-gray);
  border-top: 2px solid var(--medium-gray);
  border-right: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
}

.blank-container {
  background-color: var(--white);
  flex-grow: 2;
  margin: 2px;
}

button {
  height: 100%;
    padding: 16px 16px;
  background-color: var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;

  &:active {
    background-color: var(--medium-gray);
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--light-gray);
  height: 32px;
  padding: 8px 8px;
  border-top: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .footer-tabs {
    flex-grow: 2;
    height: 100%;

    .FooterTab {
      width: 128px;
      height: 100%;
      margin: 0 6px;

      p {
        margin-left: 8px;
      }
    }
  }
}

.Icon {
  height: 20px;
}

.file-grid {
  padding: 16px;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;

  &>.file-icon {
    margin-right: 16px;
  }
}

.control-set {
  display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.tabset {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .tabset-tabs {
    margin: 5px 5px 0px 5px;
    display: flex;

    button {
      margin:0;
      border-left: 2px solid var(--highlight);
      border-top: 2px solid var(--highlight);
      border-right: 2px solid var(--shadow);
      border-bottom: none;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;

      width: 70px;
    }
  }

  .tabset-content {
    flex-grow: 2;
    margin: 0 5px 5px 5px;
  }
}

