/* Global */
* {
    margin: 0;
    padding: 0;
    font-family: "Levi Windows";
}

/* Base Tags */
img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

p {
    font-size: var(--p_size);
}

/* Desktop */
.Desktop {
    height: 100vh;
    background-color: #008081;
    display: flex;
    align-items: center;
    justify-content: center;

    .desktop-icons {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 60%;

        & > .file-icon {
            margin-bottom: 16px;
            width: 30%;
        }
    }
}

/* Borders */
.in {
    border-left: 2px solid var(--shadow);
    border-top: 2px solid var(--shadow);
    border-right: 2px solid var(--highlight);
    border-bottom: 2px solid var(--highlight);
}

.out {
    border-left: 2px solid var(--highlight);
    border-top: 2px solid var(--highlight);
    border-right: 2px solid var(--shadow);
    border-bottom: 2px solid var(--shadow);
}

/* Layout */
.vertical-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

/* File Icons */
.file-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;

    img {
        height: 30vh;
        user-select: none;

        /* Disable selecting of image */
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
        pointer-events: none;
    }

    p {
        color: white;
        font-size: 48px;
        text-align: center;
        margin-top: -20px;
    }

    &.dark p {
        color: var(--black);
    }

    &:hover {
        &.dark img {
            filter: drop-shadow(0px 0px 5px #000000);
        }

        img {
            filter: drop-shadow(0px 0px 5px #ffffff);
        }
    }
}

// Windows
.window {
    min-width: 300px;
    min-height: 200px;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .window-header {
        width: calc(100% - 5px);
        height: 32px;
        background-color: var(--blue);
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2px;
        color: var(--white);
        user-select: none;

        & > button {
            padding: 0;
            width: 32px;
        }

        & > p {
            font-size: 24px;
            margin-left: 8px;
        }
    }
}

// PDF
.pdf {
    & > .scrollable {
        margin: 8px;
        padding: 16px 64px;
        background: var(--medium-gray);
        width: auto;
        flex-direction: column;

        & > img {
            background-color: white;
            margin-bottom: 64px;
        }
    }
}

.resize {
    position: relative;

    .resize-content {
        min-width: 300px;
        min-height: 200px;
        position: relative;
        margin-bottom: 20px;
        display: flex;
    }

    .resize-control {
        height: 20px;
        background: var(--light-gray);
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        justify-content: flex-end;

        img {
            width: 20px;
        }
    }
}

.scrollable {
    overflow: auto;
    width: 100%;
    height: 100%;
    display: flex;
}

/*
*     Inputs
*/

.Input-Container {
    border: 2px solid var(--medium-gray);
    box-shadow: inset 1px 1px 0px 1px var(--highlight),
        1px 1px 0px 1px var(--highlight);

    margin: 5px;
    margin-top: 16px;
    padding: 22px 12px;
    position: relative;

    p {
        position: absolute;
        top: -16px;
        background-color: var(--light-gray);
        padding: 0 8px;
    }

    div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .Slider {
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            & > label {
                margin-right: 20px;
            }

            & > div {
                margin-top: 10px;
            }

            .ticks {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                & > span {
                    /* Disable selecting of labels */
                    -webkit-user-select: none;
                    -khtml-user-select: none;
                    -moz-user-select: none;
                    -o-user-select: none;
                    user-select: none;
                    pointer-events: none;
                }
            }
        }
    }
}

input[type="range"] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type="range"]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}

/* Slider Thumb */

/* WebKit */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 28px;
    width: 14px;
    background: var(--light-gray);
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */

    -webkit-box-shadow: -2px -2px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow: -2px -2px 3px 0px rgba(0, 0, 0, 0.3);

    border-left: 2px solid var(--highlight);
    border-top: 2px solid var(--highlight);
    border-right: 2px solid var(--shadow);
    border-bottom: 2px solid var(--shadow);
}

/*  Firefox */
input[type="range"]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

/* IE */
input[type="range"]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

/* Select Track */

// Webkit
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    border-top: 2px inset #000000;
    border-bottom: 2px inset #ffffff;
}

// Firefox
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

// IE
input[type="range"]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type="range"]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]:focus::-ms-fill-lower {
    background: #3071a9;
}
input[type="range"]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]:focus::-ms-fill-upper {
    background: #367ebd;
}

/*
*     Individual Components
*/

// Contact Folder
.contact {
    display: grid;
    grid-template-columns: auto auto auto auto;

    padding: 16px;

    .file-icon {
        img {
            height: 20vh;
        }
        p {
            font-size: 32px;
            margin-top: 0;
        }
    }
}
